*,
*:before,
*:after {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Montserrat";
  position: relative;
  min-height: 100vh;
  width: 100%;
}

input,
textarea,
button {
  background-color: none;
  outline-offset: 0;
  -webkit-appearance: none;
}

input::-webkit-caps-lock-indicator {
  display: none;
  opacity: 0;
}

//Отключает иконку ключа на сафари в input[type="password"]
input::-webkit-credentials-auto-fill-button {
  display: none;
  opacity: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

/* не раскоменчивать, убивает возможность ввода пароля в input на маках
input::-webkit-textfield-decoration-container {
  display: none;
  opacity: 0;
}*/

::-ms-reveal {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
